# OSX
#
.DS_Store

*.suo
*.user
_ReSharper.*
bin
obj
packages

build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


.env